<%provide(:title, "About")%>

<H1>About</H1>
<P>
  The <A HREF="http://www.railstutorial.org/"><EM>Ruby on Rails
  Tutorial</EM></A> is a
  <A HREF="http://www.railstutorial.org/book">book</A> and
  <A HREF="http://screemcasts.railstutorial.org/">screencast series</A> to
  teach web development with <A HREF="http://www.railstutorial.org/">Ruby on
  Rails</A>. This is the sample application for the tutorial.
</P>
