<!DOCTYPE html>

<HTML>
  <HEAD>
    <TITLE>Help | Ruby on Rails Tutorial Sample App</TITLE>
  </HEAD>
  <BODY>
    <h1>Help</h1>
    <p>
      Get help on the Ruby on Rails Tutorial at the
      <A HREF="http://www.railstutorial.org/help">Rails Tutorial help page</A>.
      To get help on this sample app, see the
      <A HREF="http://www.railstutorial.org/book"><EM>Ruby on Rails
      Tutorial</EM>book</A>.
    </p>
  </BODY>
</HTML>