<%provide(:title, "Help")%>

<H1>Help</H1>
<P>
  Get help on the Ruby on Rails Tutorial at the
  <A HREF="http://www.railstutorial.org/help">Rails Tutorial help page</A>.
  To get help on this sample app, see the
  <A HREF="http://www.railstutorial.org/book"><EM>Ruby on Rails
  Tutorial</EM>book</A>.
</P>
