<!DOCTYPE html>

<HTML>
  <HEAD>
    <TITLE>Home | Ruby on Rails Tutorial Sample App</TITLE>
  </HEAD>
  <BODY>
    <H1>Sample App</H1>
    <P>
      This is the home page for the
      <A HREF="http://www.railstutorual.org"> Ruby on Rails Tutorial</A>
      sample application
    </P>
  </BODY>
</HTML>
